* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff; 
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 100%;
    background-color: #ffffff;
    padding: 100px;    
}

.name{
   display: flex; 
}

.name_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    text-align: start;
}

.logo{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.link{
    display: flex;
    gap: 30px;
    align-items: center;    
}

.hr-pointed {
  margin-top: 20px;
  margin-bottom: 20px; 
  width: 60%; 
  height: 1px;
  background: linear-gradient(to right, transparent 10%, #888888 50%, transparent 90%);
  border: none;
}

.about{
    text-align: start;
}

.contacts{
    align-items: start;
}

.posts{
    display: flex;
    flex-direction: column;
}

.post{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    max-width: 1920px;    
}

.img_post{
    max-width: 400px;
    padding: 50px;    
}

.text{
    max-width: 900px;
    text-align: start;
    padding-top: 40px;
}

@media (max-width: 960px) {
    .post{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    max-width: 1920px;    
}    

.name {
    flex-direction: column;
}

.name_text{
    padding-left: 0px;
}

.hr-pointed { 
  width: 100%; 
}

}
