* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff; 
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 100%;
    background-color: #ffffff;
    padding: 100px;    
}

.name{
   display: flex; 
}

.name_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    text-align: start;
}

.logo{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.btn{
    display: flex;
    margin-top: 50px;
    height: 50px;
    width: 200px;
    border: 2px solid rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: .2s linear;
    background: #ffffff00;
    align-items: center;
    justify-content: space-around;
}

.btn:hover {
    -webkit-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

.hr-pointed {
  margin-top: 50px; 
  width: 60%; 
  height: 1px;
  background: linear-gradient(to right, transparent 10%, #000 50%, transparent 90%);
  border: none;
}

.posts{
    display: flex;
    flex-direction: column;
}

.post{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    max-width: 1920px;    
}

.img_post{
    max-width: 400px;
    padding: 50px;    
}

.text{
    max-width: 900px;
    text-align: start;
    padding-top: 40px;
}

@media (max-width: 960px) {
    .post{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    max-width: 1920px;    
}    

.name {
    flex-direction: column;
}

.name_text{
    padding-left: 0px;
}
}
