* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff; 
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 100%;
    background-color: #ffffff;
    padding: 100px;    
}

.name{
   display: flex; 
}

.name_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    text-align: start;
}

.logo{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.link{
    display: flex;
    gap: 30px;
    align-items: center;    
}

.hr-pointed {
  margin-top: 20px;
  margin-bottom: 20px; 
  width: 60%; 
  height: 1px;
  background: linear-gradient(to right, transparent 10%, #888888 50%, transparent 90%);
  border: none;
}

#aboutme{
    text-align: start;
    max-width: 1280px;    
}

#contacts{    
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

.contacts_inner{
    display: flex;
    align-items: center;
    gap: 18px;
}

#posts{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.post{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    max-width: 1920px;    
}

.img_post{
    max-width: 400px;
    padding: 50px;    
}

.text{
    max-width: 900px;
    text-align: start;
    padding-top: 40px;
}

#backToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #ffffff00;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

#backToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

#backToTopBtn:hover {
  background: rgba(0, 87, 179, 0);
}

@media (max-width: 960px) {

.inner{
    padding: 20px;    
}
    
.post{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    max-width: 1920px;    
} 

.text{
    padding-left: 20px;
    padding-right: 20px;
}

.name {
    flex-direction: column;
    align-items: center;
}

.name_text_h{
    text-align: center;
    padding-top: 10px;
}

.name_text{
    padding-left: 0px;
}

.hr-pointed { 
  width: 100%; 
}

#backToTopBtn {
  right: 5px;
}

}
